/*dark theme body colors*/
body {
	color: #ffffff;
	background-color: #000000;
}

.container {
	background-color: rgba(27,27,27,0.3);
	padding: 0px 10px 0px 10px;
}

/*background image*/
#bg {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: -999;
	opacity: .35;
}

/*dark theme button colors*/
.button {
	color: #ffffff;
}
.button:focus {
	color: #1EAEDB;
	border-color: #1EAEDB;
}

.button-primary {
	background-color: rgba(51,195,240,0.6)!important;
	border: rgba(51,195,240,0.6)!important;
}

.button-primary:hover {
	background-color: rgba(51,195,240,1)!important;
	border: rgba(51,195,240,1)!important;
}

.option {
	color: #000000;
}