html,body {
	height: 100%;
	width: 100%;
	margin: 0;
	background-color: #1b1b1b;
	overflow: hidden;
}
video {
	object-fit: cover;
	width: 100%;
	height: 100%;
}
/*counter*/
.counter {
	position: absolute;
	top: 5px;
	right: 10px;
	margin-top: 0px;
	color: #ffffff;
	background-color: #1EAEDB;
}

/*links at the bottom right for random shit*/
.links {
	position: absolute;
	bottom: 5px;
	right: 10px;
	color: #ffffff;
}
.links p {
	margin: 0px 0px 0px 0px;
}
a {
	color: inherit;
}

