/*adjust for dark theme*/
.container {
	padding: 0px 10px 0px 10px;
}

#hideVideo {
	overflow: hidden;
}

#videoContainer {
	width: 100%;

}

#videoContainer video {
	width: 100%;
	height: 100%;
}


.placeholder {
	background-image: url();
	background-position: center;
	background-size: cover;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.play {
	margin-right: 10px;
}

/*capitalize first letter for names*/
h5 {
	text-transform: capitalize;
}


input[type=text], select, textarea {
	background-color:rgba(0, 0, 0, 0);
}


#bgWrapper {
	position: fixed;
	z-index: -9999;
}


@media (min-width: 750px) {

	/*peeking chewy*/
	#peek {
		width: 183px;
		height: 155px;
		background-image: url(../images/peek.png);
		position: fixed;
		bottom: -45px;
		left: 5px;
		opacity: 0.25;
	}

	#peek:hover {
		opacity: 1;
		bottom: -2px;
	}

	#peek:active {
		bottom: -20px;
		background-image: url(../images/chewy.png)
	}

}