/* --- HOME PAGE ---*/

/*nav boxe wrapper*/
.sub {
	width: 100%;
	height: 300px;
	background-color: #1b1b1b;
	opacity: 0.8;
}

.sub:hover {
	opacity: 1;
}

/*nav boxes*/ 
.box {
	width: 100%;
	height: 100%;
	line-height: 300px;
	background-size: cover;
	background-position: center;
	opacity: .5;
	transition-duration: .5s;
	-webkit-transition-duration: .5s;
	margin-bottom: 30px;
}

.box:hover {
	opacity: 1;
}

/*the text that goes in, well, the boxes*/
.box-text {
	display: inline-block;
	vertical-align: bottom;
	line-height: normal;
	margin-left: 25px;
	color: #fff;
}

/*creamy bg img*/
.creamy {
	background-image: url(../images/creamy.jpg);
}

/*warmmind bg img*/
.warmmind {
	background-image: url(../images/warmmind.jpg);
}

/* --- GLOBAL --- */

/*me*/
.links {
	position: fixed;
	bottom: 5px;
	right: 10px;
	color: #1b1b1b;
	font-size: 15px;
}


/*remove link underlines*/
.link-bg a {
	text-decoration: none;
}

/*change text background on hover*/
.link-bg a:hover {
	background-color: #1EAEDB;
	color: #fff;
}

.button:active {
	background-color: #1EAEDB;
	color: #ffffff !important;
}

/* change border and text color to blue on button hover */
.button:hover {
	border-color: #1EAEDB;
	color: #1EAEDB;
}

#bgWrapper {
	position: fixed;
	z-index: -9999;
}

.github {
	text-align: center;
}

.github a {
	opacity: 0.5;
}

.github a:hover {
	opacity: 1;
}

.center {
	text-align: center;
}

#home {
	position: fixed;
	top: 5px;
	left: 5px;
	z-index: 151020; /* twice debut ?? ;)*/
}