<!DOCTYPE html>
<html lang="en">
<!--
 _                                
| |                               
| |_  ____ _   _ __      __ _   _ 
| __||_  /| | | |\ \ /\ / /| | | |
| |_  / / | |_| | \ V  V / | |_| |
 \__|/___| \__,_|  \_/\_/   \__, |
                             __/ |
                            |___/ 

tzuwy.2wice.net

whtu r u tyrin to do wit my sauce
-->
<head>
	<meta charset="utf-8">
	<title>TWICE Soundboard</title>
	<meta name="description" content="TWICE soundboard">
	<meta name="author" content="tzuwy">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="../images/favicon.png">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../css/skeleton.css">
	<link rel="stylesheet" href="../css/style.css">
	<link rel="stylesheet" href="../css/soundboard.css">
	<script type="text/javascript" src="../js/jquery-1.12.2.min.js"></script>
	<script type="text/javascript" src="../js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../js/angular.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/soundboard.js"></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/clipboard.js/1.5.12/clipboard.min.js"></script>
</head>
<body ng-app="soundboard">
<div id="home">
	<a href="../" class="button button-primary">Back To 2wice</a>
</div>
<div class="container">
	<div class="row">
		<div class="twelve columns" style="margin-top: 10%">
			<h2 style="margin-bottom: 0px;" class="link-bg"><a href="#" class="link-bg">2wice.net Soundboard</a></h2>
			<p class="link-bg">[<a href="./changelog.txt" target="_blank">v 1.1.1</a>] Latest additions > 160503 Let's Dance: TWICE - CHEER UP</p>
		</div>
	</div>
	<!-- Controls -->
	<div class="row">
		<div class="four columns">
			<a href="" id="videoToggle" class="button button-primary u-full-width">Enable Video (slower)</a>
		</div>
		<div class="four columns">
			<a href="" id="loopToggle" class="button button-primary u-full-width" >Enable Looping (video only)</a>
		</div>
		<div class="four columns">
			<a href="" id="copy" class="button u-full-width">Copy last played mp3 URL</a>
		</div>
	</div>
	<!-- Video Content -->
	<div class="row" id="hideVideo" style="display:none;">
		<div class="twelve column">
			<div id="videoContainer">
				<video autoplay id="video">
					<source id="source" src="" type="video/mp4">
				</video>
				<div class="placeholder"></div>
			</div>
		</div>
	</div>
	<div id="audio" style="display:none;">
	</div>
	<div class="row">
		<div class="twelve column">
			<hr>
			<!-- Soundboard Content Angular -->
			<div ng-controller="MainCtrl">
				<div ng-repeat="member in twice.members">
					<h5 style="margin-bottom: 0px;">{{ member.name }}</h5>
					<a href="" class="button play" id="{{ member.name }}" ng-repeat="file in member.files">{{ file.title }}</a>
				</div>
			</div>
			<!-- End soundboard content -->
			<!-- old shit (pre angularjs)
			<h5>Momo</h5>
				<a href="#" class="button">Momo Scream #1</a>
				<a href="#" class="button">Momo Scream #2</a>
			<h5>Mina</h5>
				<a href="#" class="button">Mina Ice Cream Cheese Cake</a>
			<h5>Tzuyu</h5>
				<a href="#" class="button">Tzuyu $10</a>
				<a href="#" class="button">Tzuyu Stress</a>
			<h5>Sana</h5>
				<a href="#" class="button">Sana Creamy</a>
				<a href="#" class="button">Sana Call Me</a>
			<h5>Dahyun</h5>
				<a href="#" class="button">Dahyun Laugh</a>
			-->
		</div>
	</div>
	<!-- contact -->
	<div class="row">
		<hr>
		<a href="" id="suggestionsButton" class="button u-full-width">Want stuff added?</a>
		<div id="suggestions" style="display:none;">
			<h5>Suggestions</h5>
			<!--no spammerino pls-->
			<form action="https://formspree.io/tzuwy@2wice.net" method="POST">
				<div class="six columns">
					<label for="name">Contact (if you want to be notified or whatever)</label>
					<input type="text" name="name" placeholder="/u/tzuwy, @tzuwychew, etc.." class="u-full-width">
				</div>
				<div class="six columns">
					<label for="reason">Sup?</label>
					<select class="u-full-width" id="reason" name="reason">
						<option class="option" value="Soundboard Suggestion">Soundboard Suggestion</option>
						<option class="option" value="Background Suggestion">Background Suggestion</option>
						<option class="option" value="Other">Other</option>
					</select>
				</div>
				<label for="message">Message</label>
			    <textarea class="u-full-width" id="message" placeholder="Message... links... anything really" name="message" required></textarea>
			    <input type="text" name="_gotcha" style="display:none" />
			    <input type="submit" value="Send" class="u-full-width button-primary">
			</form>
		</div>
	</div>
	<!-- Footer -->
	<div class="row" style="margin-bottom: 10%;">
		<hr>
		<h5>Comments</h5>
		<div id="disqus_thread"></div>
		<script>
		    var disqus_config = function () {
		        this.page.identifier = "soundboard"
		    };
		    (function() {  // DON'T EDIT BELOW THIS LINE
		        var d = document, s = d.createElement('script');
		        
		        s.src = '//2wice.disqus.com/embed.js';
		        
		        s.setAttribute('data-timestamp', +new Date());
		        (d.head || d.body).appendChild(s);
		    })();
		</script>
		<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
		<hr>
		<p class="link-bg center">Made with <a href="http://getskeleton.com/" target="_blank">Skeleton</a>, <a href="https://angularjs.org/" target="_blank" >AngularJS</a>, <a href="https://jquery.com/" target="_blank">jQuery</a>, and <a href="https://clipboardjs.com/" target="_blank">clipboard.js</a> by <a href="https://tzuwy.2wice.net" target="_blank"><b>tzuwy</b></a>.
	</div>
	<!-- hide chewy - old dark theme toggler
	<div id="peek"></div>
	<img src="../images/chewy.png"/ style="display:none;">
	-->
</div>
<!-- Background layer for dark theme -->
<div id="bgWrapper" style="display:none;">
	<div id="bg"></div>
</div>
</body>
</html>
